{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>Mon espace</title>
    <style>
        #top{
            width: 100%;
            background-color: yellow;
        }
    </style>
</head>
<body>
<div class="container">
     <div id="top">
          <h1 class="text-center">Mon espace</h1>
     </div>
     <p class="text-center">Bienvenue,{{ username }} <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;log out</a></p>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="InputEmail">Amount</label>
         <div class="input-group">
          <div class="input-group-addon">Email</div>
          <input type="text" class="form-control" id="InputEmail" placeholder="Nouvel email">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="email_modifier">Enregistrer</button>
         <h3>{{ msg }}</h3>
        <h2>{{ email }}</h2>
</form>
</div>
</body>
<script src="/static/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#email_modifier").click(function () {
            var $emailData = $("#InputEmail").val();
            $.ajax({
                url: "/login/user/",
                type: "POST",
                data: {"mail": $emailData},
                success: function (data) {
                    $("h2").text(data);
                    $("h3").text("ok");
                }
            });
            {#$("h3").text($emailData);#}
        });
    });
</script>
</html>